.newsletter-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 4rem 1rem;
  }
  
  .newsletter-title {
    display: flex;
    justify-content: center;
    color: var(--color-primary-variant);
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .newsletter-description {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
  
  .newsletter-form {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  .newsletter-input {
    flex-grow: 1;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  
 
  @media screen and (max-width: 768px) {
    .newsletter-container {
      padding: 0.5rem ;
    }
    
    .newsletter-title {
      font-size: 1.25rem;
    }
    
    .newsletter-description {
      font-size: 0.9rem;
    }
    
    .newsletter-form {
      align-items: stretch;
    }
    
    .newsletter-input {
      margin-top: 0.5rem;
      width: 300px;
    }
    
    .newsletter-button {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
  