.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    text-align: justify;
    gap: 15%;
}

.about__us {
    width: 100%;
    border-radius: 2rem;
    display: grid;
    place-items: center;
}

.about__us-image{
    height: auto;
    border-radius: 2rem;
    overflow: hidden;
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-white);
}

@media screen and (max-width: 1024px){

    .about__container{
        padding-top: 0;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__us{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p{
        margin: 1rem 0 1.5rem;
    }
}

/* ========== Media Queries (small devices) ============== */

@media screen and (max-width: 600px){
    
    .about__us{
        width: 65%;
        margin: 0 auto 3rem;
    }


    .about__content p{
        margin: 1.5rem 0;
    }
}